/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
	
  
}

@media(min-width:767px) {
   .row-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         flex;
	}
  

}