<section>

	<div class="row bottom-border row-eq-height">
		  <div class="col-sm-8 hidden-xs no-left-padding">
		    <h2>{{weatherForcast.city.name}}, {{weatherForcast.city.country}}</h2>
		  </div>
	  <div class="col-sm-4 hidden-xs" ng-init="lookUpWeatherForcast('2643743')">
	     <autocomplete  options="datas" 
	          place-holder="Start typing a city..."
	          on-select="onSelect" 
	          display-property="name"
	          input-class="form-control"
	          clear-input="false"></autocomplete>
	    
	  </div>

	  <div class="visible-xs col-xs-12" ng-init="lookUpWeatherForcast('2643743')">
	    <autocomplete  options="datas" 
	          place-holder="Start typing a city..."
	          on-select="onSelect" 
	          display-property="name"
	          input-class="form-control"
	          clear-input="false"></autocomplete>
	  </div>
	  <div class="visible-xs col-xs-12">
	    <h2>{{weatherForcast.city.name}}, {{weatherForcast.city.country}}</h2>
	  </div>

	</div>

  <div class="row today bottom-border row-eq-height">
    
    <div class="col-sm-4 col-xs-12 no-left-padding">
        <img class="icon" src="http://openweathermap.org/img/w/{{weatherForcast.list[0].weather[0].icon}}.png">
        <h2 class="desc" >{{weatherForcast.list[0].weather[0].description}}</h2>


    </div>
    <div class="col-sm-2 col-xs-12">
      <div class="temprature">
        <h2>{{weatherForcast.list[0].temp.max | number:0}}&deg;C</h2>
        <p>{{weatherForcast.list[0].temp.min | number:0}}&deg;C</p>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12 double-right-padding">
      <p class="table-title">Today:</p>
      <div class="table-responsive">
        <table class="table">
        
          <tr>
            <td><p>Date:</p></td>
            <td><p>{{nextDays[0] | date}}</p></td>
          </tr>
          <tr>
            <td><p>Time:</p></td>
            <td><p>{{nextDays[0] | date : 'HH:MM'}}</p></td>
          </tr>
          <tr>
            <td><p>Humidity:</p></td>
            <td><p>{{weatherForcast.list[0].humidity}}%</p></td>
          </tr>
          <tr>
            <td><p>Pressure:</p></td>
            <td><p>{{weatherForcast.list[0].pressure}}hpa</p></td>
          </tr>
          <tr>
            <td><p>Wind speed:</p></td>
            <td><p>{{weatherForcast.list[0].speed}}mph</p></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">

    <div ng-repeat="forecast in weatherForcast.list" ng-if="$index >0" class="col-sm-2 col-xs-12 next-day">
      
      <div class="row">
        <div class="col-sm-12 col-xs-3">
          <h3>{{nextDays[$index] | date : 'EEE'}} </h3>
        </div>
        <div class="col-sm-12 col-xs-3">
          <img src="http://openweathermap.org/img/w/{{forecast.weather[0].icon}}.png">
        </div>
        <div class="col-sm-12 col-xs-3">
          <h4>{{forecast.temp.max | number:0}}&deg;C</h4>
        </div>
        <div class="col-sm-12 col-xs-3">
          <p>{{forecast.temp.min | number:0}}&deg;C</p>
        </div>
      </div>
    </div>
    <div class="col-sm-1 hidden-xs"></div>

  </div>
        
</section>  
